body {
    margin : 0px;
    margin-left : auto;
    margin-right : auto;
    background-color: #e9e9ef03;
    font: 14px arial, sans-serif;
}



div.main-content {
    border: 1px solid #D5C3E0;
    width: 47.5%;
    margin: 10px 0 10px 0;
    padding:5px 10px 5px 10px;
    position: relative;
}

.alert {
	display:none;
}

.card.main-split {
    padding: 3em;
}

.list-group-item:first-child {
	border-color: #545b66;
}

.alert-info {
    color: #ffffff;
    background-color: #545B66;
    border-color: #545B66;
}

.alert-danger {
    color: #293988;
    background-color: #e8b626;
    border-color: #f5c6cb;
}
#footer-info {
    clear: both;
    padding-bottom: 5px;
    width: 100%;
    margin-block-start: auto;
    margin-bottom: 6em;
}

#seal-info {
    text-align: center;
    font-size: 12px;
}

#seal-info p {
    margin: 0;
}

#seal-info a, #seal-info a:active, #seal-info a:visited {
    text-decoration: none;
    color: #833B8F;
}

#policy, #policy:active, #policy:visited  {
    text-decoration: none;
    color: #283A8C;
    font-weight: bold;
}

div.main-content h3 {
    color: #833B8F;
    margin: 5px 0 20px 0;
    text-align: center;
}

div.data-box {
    margin-bottom: 10px;
}


div.header-data p {
    float: left;
    margin: 0;
    font-weight: bold;
    color: #283A8C;
}

div.header-data div.buttons {
    float: right;
}

div.clear {
    clear: both;
}

div.buttons input {
    width: 20px;
}

div.buttons input:hover {
    width: 20px;
    background-image: url('../images/hover.png');
}

div.attributes-selector ul {
    overflow: auto;
    list-style-type: none;
    padding: 0;
    color: #545b66de;
    margin: 0;
    margin-bottom: 2em;
}
.list-group-item+.list-group-item.active {
    margin-top: -1px;
    border-top-width: 1px;
    border-width: 1.4px;
    font-weight: 500;
}



div.attributes-selector li {
    padding: 5px 5px 2px 5px;
}

.pt-4, .py-4 {
    padding-top: 5.5rem!important;
}

div.attributes-selector li input {
    margin: 0;
}

li.not-sending {
    color: darkgrey;
}

#aps {
    padding: 5px 10px 5px 10px;
}

#ap-selector {
    border: 1px solid #D5C3E0;
    overflow: auto;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#ap-selector div {
    padding: 3px;
}

#ap-selector div.odd {
    background-color: #D5C3E0;
}

#ap-selector div:hover {
    background-color: #9763b9;
}

#ap-selector div.onclick {
    background-color: #9763b9;
}

#ap-selected {
    padding-top: 10px;
    font-weight: bold;
    color: #283A8C;
    display: block;
}

.logo {
    display: inline-block;
    height: 15px;
    width: 40px;
}

.logo img {
    max-height: 15px;
    max-width: 40px;
}
.btn{
	margin-top: 2em;
}


.list-group-item+.list-group-item {
	border-color: #545b66;
}

.consent-text {
    color: #545b62ab;
    width: 88%;
    padding-top: 3px;
    margin: 0 5px 0 0;
    max-height: 40px;
    overflow: auto;
}

.list-group-item.active {
	background-color: #103399;
}

.client-group-item{
	border-color: #E8B626;
}

.btn-info {
	border-color: #293989;
	background-color: #293989;
}

.finish-consent-text {
    width: 87%;
}

input.consent-button {
    background-color: #283A8C;
    border: 2px solid #283A8C;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 12px;
    height: 40px;
}



input.consent-button:disabled {
    background-color: #c3cbef;
    border-color: #c3cbef;
}


input.consent-button:hover:enabled {
    background-color: #9aa8e4;
    border-color: #9aa8e4;
}

.bold {
    font-weight: bold;
}

#finish-form {
	margin-top:1em;
}

#attributes-consent {	
    overflow: auto;
}

#messages {
    font-weight: bold;
    padding: 30px 5px 5px 20px;
}


#info-right {
    float: right;
    color: #545b66;
}

#info-left {
    float: left;
    color: #545b66;
}

#card-footer{
	margin-top: 2em;
}


#messages .info {
    color: #283A8C;
}

#messages .error {
    color: red;
}



